@font-face{
        font-family: roboto;
        src:url('https://fonts.googleapis.com/css?family=Roboto');
}
#index{
	background-image: url("../img/index-picture.jpg");
	  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        background-repeat:no-repeat;
        margin: -50px 0px 0px 0px;
        position: relative;
        height: auto;
}
div.panel{
	margin-top: 30%;
        margin-bottom: -25%;
	width: inherit;
	margin-left: -30px;
	font-size: x-large;
}
div.panel > a {
    color: black;
}
div.contenedor{

}
div.encabezado{
        position: fixed;
        
        background-color: rgba(255, 255, 255, 0.39);
}
div.controlador{
        background-color: orange;
}


.InServicio{
        background-image: url('../img/servicio.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
     
}
.InRescate{
        background-image: url('../img/Rescate.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
     
}
.contenedor-angular {
      
       height:100%;
       width:auto;
}
.Contenedor-Titulo {
        font-family: roboto;
        font-size: x-large;
}
.Contenedor-Titulo > p{
        margin:11%;
}
.Contenedor-Imagen-Form_a{
     background-image: url('../img/camion.png'); 
     -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
        width:80%;
        height:100%;  
}

.Hort-Medio{
        width: 50%;
}

.InHome{
        background-image: url('../img/index-picture.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 2400px 1600px;
        width:100%;
        height:100%;
        margin-top: 1%;
}
.InServicio > .Ver-Cuerpo > .Contenido1{
        margin-top: 2%;
        padding-left: 10%;
        width: 45%;
}
.InRescate > .Ver-Cuerpo > .Contenido2{
        margin-top: 2%;
        width: 50%;
}
.InRescate > .Ver-Cuerpo > .Contenido1{
        margin-top: 2%;
        padding-left: 10%;
        width: 45%;
}
.InServicio > .Ver-Cuerpo > .Contenido2{
        margin-top: 2%;
        width: 50%;
}
div.InHome > .header >.logo{
        width:20%;
        background-color: rgba(249, 246, 245, 0.39);
        margin-left: 10%;
}
div.InHome > .header >.logo >.logo-cover{
        background-image: url('../img/LOGO1.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 200px 200px;
        background-repeat: no-repeat;
        width:100%;
        height:100%;
}

.left{
        float: left;
}

.right{
        float: right;
}
.relativo{
      position:relative;
 }
