@font-face{
        font-family: roboto;
        src:url('https://fonts.googleapis.com/css?family=Roboto');
}
#index{
	background-image: url("../img/index-picture.jpg");
	  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        background-repeat:no-repeat;
        margin: -50px 0px 0px 0px;
        position: relative;
        height: auto;
}
div.panel{
	margin-top: 30%;
        margin-bottom: -25%;
	width: inherit;
	margin-left: -30px;
	font-size: x-large;
}
div.panel > a {
    color: black;
}
div.contenedor{

}
div.encabezado{
        position: fixed;
        
        background-color: rgba(255, 255, 255, 0.39);
}
div.controlador{
        background-color: orange;
}


.InServicio{
        background-image: url('../img/servicio.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
     
}
.contenedor-angular {
      
       height:100%;
       width:auto;
}
.Contenedor-Titulo {
        font-family: roboto;
        font-size: x-large;
}
.Contenedor-Titulo > p{
        margin:11%;
}
.Contenedor-Imagen{
     background-image: url('../img/camion.png'); 
     -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
        width:80%;
        height:100%;  
}
.Hort-Medio{
        width: 50%;
}

.InHome{
        background-image: url('../img/index-picture.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
        width:100%;
        height:100%;
        margin-top: 1%;
}
.InServicio > .Ver-Cuerpo > .Contenido1{
        margin-top: 2%;
        padding-left: 10%;
        width: 45%;
}
.InServicio > .Ver-Cuerpo > .Contenido2{
        margin-top: 2%;
        width: 50%;
}
div.InHome > .header >.logo{
        width:20%;
        background-color: rgba(249, 246, 245, 0.39);
            margin-left: 10%;
}
div.InHome > .header >.logo >.logo-cover{
        background-image: url('../img/LOGO1.png');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100% 100%;
        width:100%;
        height:100%;
}

.left{
        float: left;
}

.right{
        float: right;
}
.relativo{
      position:relative;
 }
 @media screen and (max-width: 1360px) and (min-width: 1281px){
        .contenedor-angular{
                max-width: 1360px;
                min-width: 1281px;
        }
}

@media screen and (max-width: 1280px) and (min-width: 1177px){
        .InServicio > .Ver-Header{
                max-width: 1280px;
                min-width: 1177px;
        }
        .InServicio > .Ver-Cuerpo{
                max-width: 1280px;
                min-width: 1177px;
        }
        .contenedor-angular{
                max-width: 1280px;
                min-width: 1177px;
        }
}
@media screen and (max-height: 768px) and (min-height: 600px){
        .InServicio > .Ver-Header{
                max-height: 230.4px;
                min-height: 180px;
        }
        .InServicio > .Ver-Cuerpo{
                max-height: 537px;
                min-height: 420px;
        }
        .InServicio > .Ver-Header > .Vertical{
                max-height: 230.4px;
                min-height: 180px;
        }
        .InServicio > .Ver-Cuerpo > .Vertical{
                max-height: 537px;
                min-height: 420px;
        }
        .Contenedor-Imagen{
                max-height: 230.4px;
                min-height: 180px;
        }
        .contenedor-angular{
                 max-height: 768px;
                min-height: 600px;
        }
        div.InHome > .header{
                height: 180px;
        }
        div.InHome > .header >.logo{
                 height: 180px;
        }
        .InServicio{
                max-height: 768px;
                min-height: 600px;    
        }
        .encabezado{
                margin-top: 10%;
       }
       
}
@media screen and (max-height: 810px) and (min-height: 769px){
        .InServicio > .Ver-Header{
                max-height: 562px;
                min-height: 232px;
        }
        .InServicio > .Ver-Cuerpo{
                max-height: 537px;
                min-height: 420px;
        }
        .InServicio > .Ver-Header > .Vertical{
                max-height: 562px;
                min-height: 232px;
        }
        .InServicio > .Ver-Cuerpo > .Vertical{
                max-height: 537px;
                min-height: 420px;
        }
        .Contenedor-Imagen{
                max-height: 230.4px;
                min-height: 180px;
        }
        .contenedor-angular{
                max-height: 810px;
                min-height: 755px;
        }
        div.InHome > .header{
                height: 180px;
        }
        div.InHome > .header >.logo{
                 height: 180px;
        }
        .InServicio{
                max-height: 810px;
                min-height: 755px;    
        }
       .encabezado{
                margin-top: 13%;
       }
}
