#index{
	background-image: url("../img/index-picture.jpg");
	  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
        background-repeat:no-repeat;
        margin: -50px 0px 0px 0px;
        position: relative;
        height: auto;
}
div.panel{
	
	width: 9%;
	margin-left: -30px;
	font-size: xx-large;
}

