<div id="asistencia" class="asistencia" name="asistencias">
            <div class="maxwidth Inasistencia relativo">
                <div id="Ver-Header" class="Contenido Horizontal Ver-Header efecto_caja relativo">
                    <div id="delante" >
                       
                    </div>
                    <div id="atras" >
                        
                    </div>
                   
                </div>
                <div class="Contenido Horizontal Ver-Cuerpo">
                    <div class="Contenido Vertical left Hort-Medio">
                        <div class="Horizontal Ver-Corto">
                            <div class="Contenedor-Superior" id="Contenedor-Superior">
                                <select id="ListaServicio" onchange="TraerServicio(this);"><option></option></select>
                                <br />
                            </div>
                        </div>
                        <div class="Horizontal Ver-Largo">
                            <div class="Contenedor-Inferior" id="Contenedor-Inferior">
                                
                            </div>
                        </div>
                    </div>
                    <div class="Contenido Vertical right Hort-Medio">
                        <form id="formulario" method="post">
                            <label>Especifique el problema</label>
                            <input id="desc_emergencia" name="desc_emergencia" type="text" />
                            <label>Tu ubicación</label>
                            <input id="ubicacion" name="nombre" type="text" />
                            <input id="campo3" name="enviar" type="button" value="Buscar Dirección" class="button grande informacion right" style="margin-right:-38px" onclick="Ubicacion_Asistencia();" />
                            <input id="campo3" name="enviar" type="button" value="Geolocalizar" class="button grande informacion left" style="margin-right:-38px" onclick="Geo_Asistencia();" />
                        </form>
                    </div>
                </div>
                <div id="Mapa_Asistencia" class="Horizontal Ver-Foot">

                </div>
            </div>
    <footer>
        <a href="#!">Atras</a>
    </footer>
</div>